<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New TODO</title>
</head>
<body>
<p>Add new TODO item:</p>
<form action="#" th:action="@{/addtolist}" method = post>
    <input type="text" name="title"> </input><br>
    <span>Add description:</span>
    <input type="text" name="description"> </input><br>
    <span>Add due date in dd-mm-yyyy format:</span>
    <input type="text" name="dueDate"> </input><br>
<span>Add assignee:</span>
    <select id="assigneeName" name="assigneeName">
        <option th:each="assignee : ${assignees}"
                th:value="${assignee.name}"
                th:text="${assignee.name}">
        </option>
    </select>
    <input type="submit" value ="submit" name="submit"> </input>
</form>
</body>
</html>