<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDos</title>
</head>
<body>
TODOS FOR TODAY:
<table>
    <tr style="background-color:midnightblue">
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>DELETE</th>
    </tr>
    <tr style="background-color:lightblue" th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td> <a th:href="@{'/{id}/delete'(id=${todo.id})}" th:text="delete"></a></td>
    </tr>
</table>

<p><a th:href="@{/addtodo}">Add todo item</a></p>
</body>
</html>