<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raise balance</title>
</head>
<body>
<p>Raise balance of this character:</p>
<form action="#" th:action="@{/raiseBalance}" method = post>
    <input type="text" name="name"> </input><br>

    <input type="submit" value ="submit" name="submit"> </input>
</form>
<form action="#" th:action="@{/addAccount}" method = post>
    <span>Name:</span>
    <input type="text" name="newName"> </input>
    <span>Balance:</span>
    <input type="text" name="balance"> </input>
    <span>Animal type:</span>
    <input type="text" name="animalType"> </input>
    <span>Is he/she king? (true/false)</span>
    <input type="text" name="isKing"> </input>
    <span>Is he/she good or bad guy? (true/false)</span>
    <input type="text" name="goodGuy"> </input>
    <input type="submit" value ="submit" name="submit"> </input>
</form>
</body>
</html>